.project {
  display: block;
  text-align: center;
  margin: 60px auto;
  color: #878787;
  
   
}
.container { 
  max-width: 700px;
  display: block;
  margin: 0px auto;
  text-align: center;
  }
.App {
  max-width: 700px;
  margin: 0px auto;
  text-align: center;
    border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 20px 40px 20px 20px;
 
 
  
}
ul{
  text-align: left;
  list-style-type: none;
  font-size: 14px;
}
h1{
  color: #212121;
  }
.currentTemp{
  font-size: 56px;
  color: #212121;
  margin-bottom: 0px;
  
}
.units{
  position: relative;
  top: -24px;
  font-size: 22px;
}
.weekday {
  text-align: right;
  padding-right: 40px;
}
.mainCity {
  text-align: right;
  
}
.formDiv {
    margin: 40px  20px;
  text-align: left;
  
  }
  .searchInput {
  line-height: 35px;

    width: 70%;
    padding-left: 10px ;
    border: 1px solid #D9D9D9;
  border-radius: 5px;
  }
  .submitInput {
    line-height: 35px;
    width: 20%;
    background-color: blue;
    color: antiquewhite;
    margin-left: 3px ;
    border: 1px solid #D9D9D9;
  border-radius: 5px;
  }

.author{
  text-align: center;
  margin: 0px auto;
  font-size: 15px;

}

