.App {
  display: block;
  margin: 60px auto;
  color: #878787;
}
.container {
  max-width: 850px;
  display: block;
  margin: 0px auto;
  }
.Weather {
  color: #132743;
  max-width: 800px;
  margin: 0px auto;
  border-radius: 5px;
  padding: 20px 60px 20px 60px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
 }
ul{
  text-align: left;
  list-style-type: none;
  font-size: 14px;
}
h1{
  color: #132743;
  }
  .iconImage {
    margin-left: -15px;
  }
.currentTemp{
  font-size: 70px;
  color: #132743;
  margin-bottom: 0px;
  margin-left: 26px;
  text-align: left;
  }
.units{
  position: relative;
  top: -30px;
  font-size: 20px;
  text-decoration: none;
}
.unitsLink {
  text-decoration: none;
}

.weekday {
  text-align: right;
  padding-right: 40px;
}
.mainCity {
  margin-top: 10px;
  text-align: right;
}
.formDiv {
    margin: 40px  20px;
  text-align: left;
  }
  .searchInput {
  line-height: 35px;
  width: 70%;
  padding-left: 10px ;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  }
  .submitInput {
  line-height: 35px;
  width: 20%;
  background-color: #005792; ;
  color: antiquewhite;
  margin-left: 3px ;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  }

.author{
text-align: center;
margin: 0px auto;
font-size: 15px;

}
.dayly-forecast {
margin: 20px 15px;
text-align: center;
}
.WeatherForecast-icon {
margin: 10px 0px;
}
  .WeatherForecast-day {
    text-align: center;
    position: relative;
    left: -8px;
  }
  .WF-temp-max {
    position: relative;
    color: rgb(50, 0, 0);
    left: -10px;
  }
  .row {
    text-align: center;
  }